<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(<%= image_path "muffin.jpg" %>);">
  <div class="container text-light">
    <h1>Delicious <strong class="text-home">Adriana's Marshmallows.</strong>
    <h3>Unique, home made Marshmallows and for special occassions or an extra treat for your guests or just for yourself.</h3><br>
    <h4>🍭 Sweet <strong class="text-home">🍭 Sweet 🍭</strong> Selection! 🍭 </h4><br>
    <%= link_to "Search for marshmallows", categories_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
<p>Follow us on:</p>
  <div class="footer-links">
    <a href="https://www.instagram.com/adrianasmarshmallows/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.facebook.com/adrianasmarshmallows"><i class="fab fa-facebook"></i> Facebook</a>
  </div>
</div>

