.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  justify-content: space-between !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light {
  background-color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
