// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-top{
  margin-top: 20px;
}
.categories {
  margin-top: 20px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.card-category {
  border-radius: 9px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.category-title {
  font-weight: bold;
   margin-top: 20px;
 }

.category-link {
  color: white;
}
